name: Python - lint and check format using Ruff

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  ruff:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Lint with Ruff
        uses: chartboost/ruff-action@v1
        with:
          version: 0.14.3
      - name: Check format with Ruff
        uses: chartboost/ruff-action@v3
        with:
          args: 'format --check'
          version: 0.14.3
